<html>
	<% include ./partials/header.ejs %>
	<body>
		<h1>TODO LIST</h1>
		<div>
			<ul>
				<% products.forEach((product) => { %>
					<li><%=product.name%></li>
				<% }) %>
			</ul>
		</div>
		<% include ./partials/footer.ejs %>
	</body>

</html>