<html>
    <% include ../partials/head.ejs %>
    <body>
        <% include ../partials/header.ejs %>
        <div class="container">
            <div class="container">
                <h1>Produits <%=product.name%></h1>
                <div>
                    <ul>
                    <% product.prices.forEach((price) => { %>
                        <li><%=price.price%>€ <strong><%=price.date%></strong></li>
                    <% }) %>
                    </ul>
                </div>
                <form method="post" action="/product/addPrice/<%=product.id%>" class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <input name="price" type="number" step="0.01" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Ajouter un prix</button>
                </form>
            </div>
        </div>
        <% include ../partials/footer.ejs %>
    </body>
</html>