<html>
    <% include ../partials/head.ejs %>
    <body>
        <% include ../partials/header.ejs %>
        <div class="container">
            <h1>Produits</h1>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Détail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% products.forEach((product) => { %>
                                <tr>
                                    <td scope="row"><%=product.name%></td>
                                    <td>
                                        <% product.prices.forEach((price) => {%>
                                            <%=price.price%>€
                                        <%})%>
                                    </td>
                                    <td>
                                        <a href="/product/<%=product.id%>">
                                            <button class="btn btn-success btn-block">Détail</button>
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <div class="col col-lg-3">
                    <form method="post" action="/product/add">
                        <fieldset>
                            <legend>Ajouter un produit</legend>
                            <div class="form-group">
                                <label for="name">Nom</label>
                                <input id="name" name="name" type="text" class="form-control" placeholder="Nom" required />
                            </div>
                            <div class="form-group">
                                <label for="price">Prix</label>
                                <input id="price" name="price" type="number" step="0.01" class="form-control" placeholder="Prix" required />
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary btn-block">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
        <% include ../partials/footer.ejs %>
    </body>
</html>